@charset "UTF-8";

/*
 Em HTML é id =  em CSS é #
 Em HTML é class = em CSS é .
 */

body{
    background-color: rgb(155, 237, 240);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: tomato;

}
h1#principal {
text-align: center;
background-color: crgb(155, 237, 240);
color: rgb(207, 21, 198);

}
h2{
    color: rgb(42, 85, 226);
}

.basico{
    color: rgb(128, 6, 111);
}
.intermediário{
    color: darkblue;
}
.avancado{
    color: darkviolet;
}
.destaque{
    background-color: gold;
}